@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mulish&display=swap');
.App {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
  overflow-x: hidden !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
